:root{

    --vermelho : #F26C4F;
    --verde : #38C958;
    --azul : #3A89C9;
    --azulEscuro: #3175ae;
    --branco : #F3F4E5;
    --preto : #232226;

    --fonteTitulo: "Itim";
    --fonteTexto: "K2D";

}